<section class="section featured-projects">
    <div class="section__title">Arts Projects</div>
    <div class="section__content">
      <div class="project blistabloc">
        <figure class="project__pic">
          <a href="{{site.baseurl}}/img/arts/schizo/schizo.pdf" target="_blank">
            <img src="{{site.baseurl}}/img/arts/schizo/face.png" alt="">
          </a>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <a href="{{site.baseurl}}/img/arts/schizo/schizo.pdf" target="_blank">Skewing</a>
          </div>
          <p>The main content of this 3D project is to explore the dual inner world of schizophrenia patients. This is to make a 3D model to express this view and discovery: by breaking stereotype, we can also appreciate a psychotic artist.</p>
        </figcaption>
      </div>
      
      <div class="project blistabloc">
        <figure class="project__pic">
          <a href="{{site.baseurl}}/img/arts/2019-summer-workshop/2019-summer-workshop.pdf" target="_blank">
            <img src="{{site.baseurl}}/img/arts/2019-summer-workshop/face.png" alt="">
          </a>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <a href="{{site.baseurl}}/img/arts/2019-summer-workshop/2019-summer-workshop.pdf" target="_blank">2019 Summer Workshop Final Project</a>
          </div>
          <p>I attended this workshop in 2019, Chengdu, led by Prof. Stefania Druga, MIT. This product aims to encourage children to drink water with a sense of accomplishment.</p>
        </figcaption>
      </div>

      <div class="project blistabloc">
        <figure class="project__pic">
          <a href="{{site.baseurl}}/img/arts/vr/vr.pdf" target="_blank">
            <img src="{{site.baseurl}}/img/arts/vr/face.png" alt="">
          </a>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <a href="{{site.baseurl}}/img/arts/vr/vr.pdf" target="_blank">VR Glasses</a>
          </div>
          <p>This equipment is to help some people with hearing impairment can achieve some interactive effects through the visual display of the glasses, for example, they can sense the existence of sound.</p>
        </figcaption>
      </div>
  
      <div class="project blistabloc">
        <figure class="project__pic">
          <a href="{{site.baseurl}}/img/arts/chengdu-icons/chengdu-icons.pdf" target="_blank">
            <img src="{{site.baseurl}}/img/arts/chengdu-icons/face.png" alt="">
          </a>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <a href="{{site.baseurl}}/img/arts/chengdu-icons/chengdu-icons.pdf" target="_blank">Chengdu Icons Design</a>
          </div>
          <p>This is a set of icon design inspired by the famous architectural landmark in Chengdu, China. These landmarks are cultural symbols handed down from a city through historical changes, and they are also the most representative.</p>
        </figcaption>
      </div>

      <!--
      <div class="project interventions">
        <figure class="project__pic">
          <a href="https://interventions.design/" target="_blank">
            <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
          </a>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <a href="https://interventions.design/" target="_blank">Interventions</a>
          </div>
          <p>Interactive marketing website for Northeastern's first annual student-led design conference, Interventions.</p>
        </figcaption>
      </div>
      -->
    </div>
  </section>
  