<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="{{site.baseurl}}/img/featured/movie-sharing/pano.pdf" target="_blank">
          <img src="{{site.baseurl}}/img/featured/movie-sharing/movie-sharing.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="{{site.baseurl}}/img/featured/movie-sharing/pano.pdf" target="_blank">UI Design</a>
        </div>
        <p>A beautiful and interactively-harmonious user interface designed for a movie screen-sharing application.</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://sylgaw.github.io/img/featured/preschool/pre-school_zoom.pdf" target="_blank">
          <img src="{{site.baseurl}}/img/featured/preschool/face.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://sylgaw.github.io/img/featured/preschool/pre-school_zoom.pdf" target="_blank">Zoom Version for Pre-school Education</a>
        </div>
        <p>We recognize that due to COVID-19, it is especially difficult to stay focused and engaged when participating in online, remote learning as it is not interactive enough in comparison to a physical classroom. So, we made this Zoom aiming at preschool education to relieve these problems.</p>
      </figcaption>
    </div>
    
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/SylGaw/portfolio" target="_blank">
          <img src="{{site.baseurl}}/img/featured/serenity/face.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/SylGaw/portfolio" target="_blank">"Serenity", a Voice User Interface (VUI)</a>
        </div>
        <p>This product focuses on creating a nighttime routine that incorporates elements of creating a proper sleep hygiene.</p>
      </figcaption>
    </div>

    <!--
    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://interventions.design/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://interventions.design/" target="_blank">Interventions</a>
        </div>
        <p>Interactive marketing website for Northeastern's first annual student-led design conference, Interventions.</p>
      </figcaption>
    </div>
    -->
  </div>
</section>
